package views

import "github.com/rbc33/gocms/common"

templ makeAbout(title string) {
	@MakeUnderConstruction(title)
}

templ MakeAboutPage(links []common.Link, dropdowns map[string][]common.Link) {
	@MakeLayout("About", links, dropdowns, makeAbout("About"), []string{})
}
