package views

import "github.com/rbc33/gocms/common"

templ makeError(error_str string) {
	<article>
		<h2 class="text-gray-800 dark:text-gray-400">Error Occurred!</h2>
		<p class="text-gray-700 dark:text-gray-300">{ error_str }</p>
	</article>
}

templ MakeErrorPage(error_str string, links []common.Link) {
	@MakeLayout("Error!", links, makeError(error_str))
}
