package views

import "github.com/rbc33/gocms/common"

templ MakeServices(title string) {
	@MakeUnderConstruction(title)
}

templ MakeServicesPage(links []common.Link) {
	@MakeLayout("Services Page", links, MakeServices("Services"), []string{})
}
