package views

templ MakeUnderConstruction(title string) {
	<article class="container mx-auto rounded-lg border-4 border-solid border-slate-700 shadow-md p-6 m-4 max-w-xxl w-4/6">
		<h1 class="text-2xl text-gray-800 dark:text-gray-400 font-bold mb-4">{ title }</h1>
		<p class="text-black dark:text-white  text-4xl mb-3">
			Under construction...
		</p>
	</article>
}
