package tailwind

templ MakeContactSuccess(email string, name string) {
	<h2 class="text-2xl text-gray-400 font-bold mb-2">Message Sent From { email }!</h2>
	<p class="text-white mb-4">Thank you { name }. The message was successfully sent.</p>
}
